<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <script src="../vendor/whitestorm.js"></script>
    <script src="../build/<%= filename %>"></script>
    <script type="text/javascript">
    const world = new WHS.World({
      stats: 'fps', // fps, ms, mb
      autoresize: "window",

      gravity: {
        x: 0,
        y: -100,
        z: 0
      },

      camera: {
        far: 10000,
        y: 10,
        z: 30
      }
    });

    const custom = new WHS.<%= component %>({
      geometry: {
        radius: 3
      },

      mass: 10,

      position: [0, 100, 0]
    });

    custom.addTo(world);
    custom.run();

    new WHS.SpotLight({
      light: {
        color: 0xffffff,
        distance: 100,
        intensity: 2
      },

      position: {
        z: 10
      }
    }).addTo(world);

    new WHS.AmbientLight({
      light: {
        intensity: 0.3
      }
    }).addTo(world);

    new WHS.SpotLight({
      light: {
        color: 0xffffff,
        distance: 100,
        intensity: 2
      },

      position: {
        z: -10
      }
    }).addTo(world);

    const plane = new WHS.Plane({
      geometry: {
        width: 250,
        height: 250
      },

      mass: 0,

      material: {
        color: 0xff0000,
        kind: 'basic'
      },

      rotation: {
        x: -Math.PI / 2
      }
    });

    plane.addTo(world);
    world.start();

    world.setControls(new WHS.OrbitControls());

    </script>
  </body>
</html>
